<div class="cover-text">
    <h3 class="text-secondary mb-3">Sign-in using</h3>
    <div class="oauth-btn btn-group-vertical shadow">
        <a href="/auth/google" class="btn btn-light btn-google btn-lg">
            <span class="float-left mr-1">Google</span>
            <i class="fab fa-google float-right ml-5 mr-2 mt-1"></i>
        </a>
        <a href="/auth/facebook" class="btn btn-light btn-facebook btn-lg">
            <span class="float-left mr-1">Facebook</span>
            <i class="fab fa-facebook float-right ml-5 mr-2 mt-1"></i>
        </a>
        <a href="/auth/twitter" class="btn btn-light btn-twitter btn-lg">
            <span class="float-left mr-1">Twitter</span>
            <i class="fab fa-twitter float-right ml-5 mr-2 mt-1"></i>
        </a>
    </div>
</div>
<p class="text-muted text-center small fixed-bottom">&#x24B8; JOURNe</p>